
<h2>Edit Your Page Here</h2>

<form action="/bullitins/<%= @bullitin.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" id="title" name="title" value="<%= @bullitin.title %>">
  <input type="text" id="content" name="content" value="<%= @bullitin.content %>">
  <input type="submit" value="submit">
</form> 

<button> <a href="/bullitins"> back </a> </button>