<h2><%= current_user.username %>'s Bullitin</h2>

   <%@bullitins.each do |bullitin|%>  
    <p> <a href="/bullitins/ <%= bullitin.id %>" ></p> 
    <p><%= bullitin.title %> </p>
    <p> <a href="/bullitins/ <%= bullitin.id %>/edit"> Edit </p> 
    <% end %>

    <br>
    <a href="/bullitins/new"> Create New Bullitins </a>