<a href="/logout"> Logout</a><br>

<h4> Hi! <%= current_user.username %> welcome to freewall your online bullitin board</h4> 

   <%@bullitins.each do |bullitin|%>  
      <p> <a href="/bullitins/ <%= bullitin.id %>" ></p> 
      <p><h4><%= bullitin.title %></h4> by <%= bullitin.user.username %> </p>  
  <% end %>
   
  <br>

   <button> <a href="/bullitins/new"> Create </a></button> 

   