<h2><%= current_user.username %>'s Bullitin</h2>

   <%@bullitins.each do |bullitin|%>  
    <li> <a href="/bullitins/ <%= bullitin.id %>" ></li>
    <li><%= bullitin.title %> </li> 
    <% end %>

    <br>
    <a href="/bullitins/new"> Create New Bullitins </a>