<h4> <%= current_user.username %>'s Bullitin  </h4>

   <%@bullitins.each do |bullitin|%>  
    <li> <a href="/bullitins/ <%= bullitin.id %>" ></li>
    <li><%= bullitin.title %> </li> 
    <% end %>

    <a href="/bullitins"> back </a>