<h2> Create your bullitin and click pin to post it in the wall </h2>  

<div>

<form method="post" action="/bullitins"> 
<input type="text" name="title" value="title"> 
<input type="text" name="content" value="content"> 
<input type="submit" value="Pin"> 
</form>  


</div>





