<div class="container">
  <header>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Set @users bullitin here</h2>

    <div class="content">
  
      
    </div>

    <div class="sidebar">
      <h3>Home</h3>
      <ul>  

      <a href="/users/signup"> Sign up </a> <br>
      <a href="/users/login"> Login </a> 
        
      </ul>
    </div>
    <img alt="6 Bulletin Board Ideas to Promote Social and Emotional Development ..." class="n3VNCb" src="https://apertureed.com/wp-content/uploads/2019/09/Bulletin-Boards.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 400px; height: 276px; margin: 0px;">
  </div>
</div>


